.about {

  &__text {
    grid-column: full-start / col-end 4;
    //grid-row: 2 / span 1;
    background-color: #fff;
    width: 70%;
    margin: 0 auto;
    padding-top: 9rem;
    padding-bottom: 12rem; //same with composition below

    @media only screen and (max-width: 1100px) {
      grid-column: center-start / -1; //fills entire row
      padding-bottom: 4rem;
      width: 88%;
    }

    @media only screen and (max-width: 900px) {
      width: 95%;
      grid-column: full-start / full-end;
    }

    @media only screen and (max-width: 700px) {
      width: 100%;
      grid-column: full-start / full-end;
      padding-bottom: 5rem;
    }
  }

  &__composition {
    grid-column: col-start 5 / full-end;
    //grid-row: 2 / span 1;
    //background-color: #f195f3;
    width: 85%;
    padding-top: 9rem;
    padding-bottom: 12rem;

    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    align-items: center;

    @media only screen and (max-width: 1100px) {
      grid-column: center-start / -1; //fills entire row
      padding-top: 2rem;
      padding-bottom: 8rem;
    }


  }

  &__composition--picture {
    /*max-width: 80%;
    height: auto;*/
    width: 100%;
    grid-row: 2 / -1;
    grid-column: 3 / -1;

    @media only screen and (max-width: 1100px) {
      grid-column: 4 / -1;
    }

    @media only screen and (max-width: 800px) {
      grid-column: 3 / -1;
    }

    @media only screen and (max-width: 600px) {
      grid-column: 2 / -1;
    }
  }

  &__composition--picture img {
    max-width: 80%;
    height: auto;
  }


}