// FONT VARIABLES
$font-primary: 'Cormorant', 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #afafaf;

$color-brown-dark-1: #54483A;
$color-brown-dark-2: #6D5D4B;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px
}

body {
  font-family: $font-primary;
  color: $color-brown-dark-2;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content min-content 40vw min-content;
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: 1100px) {
    grid-template-rows: 80vh repeat(3, min-content) 40vw min-content;
  }

  @media only screen and (max-width: 800px) {
    grid-template-rows: 80vh repeat(6, min-content);
  }
}