.footer {
  //background-color: #0B2D35; opposite of the sunrise yellow- from paletton
  background-color: #5b2e35;
  grid-column: full-start / full-end;
  color: #fff;
  font-size: 1.8rem;
  padding: 8rem;
}

.nav {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-items: center;

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s;
  }

  &__link:hover,
  &__link:active {
    transform: translateY(-3px);
  }
}

.copyright {
  font-size: 1.4rem;
  color: #fff;
  margin-top: 8rem;
  margin-right: auto;
  margin-left: auto; //together these last two are a trick to get copyright class to center
  text-align: center;
  width: 70%;
}